*                        @matthprost @lisalupi
**/package.json          @scaleway/front-kernel
Dockerfile                @scaleway/front-kernel
babel.config.json         @scaleway/front-kernel
tsconfig.json             @scaleway/front-kernel
vite.config.ts            @scaleway/front-kernel
vitest.setup.ts            @scaleway/front-kernel
vitest.config.ts            @scaleway/front-kernel
turbo.json               @scaleway/front-kernel
biome.json               @scaleway/front-kernel
pnpm-workspace.yaml      @scaleway/front-kernel
svgo.config.mjs           @scaleway/front-kernel
.github                  @scaleway/front-kernel
.changeset/config.json    @scaleway/front-kernel
.aws                     @scaleway/front-kernel
e2e                     @scaleway/front-kernel
utils                     @scaleway/front-kernel
