*                        @jsulpis @lisalupi
**/package.json          @jsulpis @lisalupi @philibea
Dockerfile               @jsulpis @lisalupi @philibea
tsconfig.json            @jsulpis @lisalupi @philibea
.oxlintrc.jsonc          @jsulpis @lisalupi @philibea
oxfmt.config.ts          @jsulpis @lisalupi @philibea
vite.config.ts           @jsulpis @lisalupi @philibea
vitest.setup.ts          @jsulpis @lisalupi @philibea
vitest.config.ts         @jsulpis @lisalupi @philibea
turbo.json               @jsulpis @lisalupi @philibea
pnpm-workspace.yaml      @jsulpis @lisalupi @philibea
svgo.config.mjs          @jsulpis @lisalupi @philibea
.github                  @jsulpis @lisalupi @philibea
.changeset/config.json   @jsulpis @lisalupi @philibea
.aws                     @jsulpis @lisalupi @philibea
e2e                      @jsulpis @lisalupi @philibea
utils                    @jsulpis @lisalupi @philibea
**/A11y.mdx              @jsulpis @lisalupi @iManu
