*                        @jsulpis @lisalupi
**/package.json          @philibea
Dockerfile                @philibea
tsconfig.json             @philibea
.oxlintrc.jsonc            @philibea
oxfmt.config.ts            @philibea
vite.config.ts            @philibea
vitest.setup.ts            @philibea
vitest.config.ts            @philibea
turbo.json               @philibea
pnpm-workspace.yaml      @philibea
svgo.config.mjs           @philibea
.github                  @philibea
.changeset/config.json    @philibea
.aws                     @philibea
e2e                     @philibea
utils                     @philibea
**/A11y.mdx              @iManu
