.git

# dependancies

node_modules/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# we are using yarn here
package-lock.json

# misc
.DS_Store
.env
/.vscode
.idea/
.eslintcache
dist/
coverage
storybook-static
.reports


