{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": ["plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["*.js", "*.mjs"],
      "extends": ["@scaleway/react", "@scaleway/react/emotion"],
      "parser": "@babel/eslint-parser"
    },
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["@scaleway/react/typescript", "@scaleway/react/emotion"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      },
      "rules": {
        "react/jsx-props-no-spreading": "warn",
        "@typescript-eslint/no-unnecessary-condition": "off"
      }
    },
    {
      "files": ["**/__stories__/**/*.{ts,tsx}", "**/__tests__/**/*.{ts,tsx}"],
      "extends": ["@scaleway/react/typescript"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      },
      "rules": {
        "no-console": "off",
        "no-alert": "off",
        "react/jsx-props-no-spreading": "off",
        // Allow inline nested components (for code snippets)
        "react/no-unstable-nested-components": "off",
        "@typescript-eslint/no-unnecessary-condition": "off",
        "react/jsx-key": "off"
      }
    },
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"]
    },
    {
      "files": ["*.d.ts"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
