{
  "root": true,
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "files": ["*.js", "*.mjs"],
      "extends": ["@scaleway/react", "@scaleway/react/emotion"],
      "parser": "@babel/eslint-parser"
    },
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["@scaleway/react/typescript", "@scaleway/react/emotion"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      },
      "rules": {
        "react/jsx-props-no-spreading": "warn"
      }
    },
    {
      "files": ["**/__stories__/**/*.{ts,tsx}", "**/__tests__/**/*.{ts,tsx}"],
      "extends": ["@scaleway/react/typescript"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      },
      "env": {
        "jest": true
      },
      "rules": {
        "no-console": "off",
        "no-alert": "off",
        "react/jsx-props-no-spreading": "off",
        // Allow inline nested components (for code snippets)
        "react/no-unstable-nested-components": "off"
      }
    },
    {
      "files": ["website/**/*.{ts,tsx}"],
      "extends": ["@scaleway/react/typescript"],
      "parserOptions": {
        "project": ["website/tsconfig.json"]
      }
    }
  ]
}
