{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": ["@scaleway/react/typescript"],
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "plugins": ["@emotion"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-restricted-syntax": [
      // https://eslint.org/docs/rules/no-restricted-syntax#disallow-specified-syntax-no-restricted-syntax
      "warn",
      {
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array.",
        "selector": "ForInStatement"
      },
      {
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand.",
        "selector": "LabeledStatement"
      },
      {
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize.",
        "selector": "WithStatement"
      },
      {
        "message": "Deprecated color usage, use colors instead.",
        "selector": "MemberExpression[object.object.name='theme'] Identifier[name='colorsDeprecated'], MemberExpression[object.name='colorsDeprecated'] Identifier[name='colorsDeprecated']"
      }
    ],
    // Import
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/__stories__/**/*",
          "**/__tests__/**/*",
          "rollup.config.mjs"
        ]
      }
    ],
    // React
    "react/jsx-props-no-spreading": "warn",
    "react/sort-prop-types": "off",
    // emotion
    "@emotion/styled-import": "error",
    "@emotion/no-vanilla": "error",
    "@emotion/import-from-emotion": "error",
    "@emotion/syntax-preference": ["error", "string"]
  },
  "overrides": [
    {
      "env": {
        "jest": true
      },
      "files": ["**/__stories__/**/*.{ts,tsx}", "**/__tests__/**/*.{ts,tsx}"],
      "rules": {
        "no-console": "off",
        "no-alert": "off",
        "react/prop-types": "off",
        "react/jsx-props-no-spreading": "off"
      }
    }
  ]
}
