# dependencies
node_modules/

# we are using pnpm here
package-lock.json
yarn.lock

# misc
.DS_Store
.env
/.vscode
.idea/
.eslintcache
dist/
coverage
storybook-static
.reports
.pnpm-store
.dist-comparison

deps.json
depsFiltered.json

# VSCode extension "Local History"
.history

# Npm/Yarn debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yalc
yalc.lock
.yalc/

out
.next

#vite
vite.config.ts.*
vitest.config.ts.*

# turbo
.turbo
!.turbo/config.json
examples/*/.turbo
packages/*/.turbo
tools/*/.turbo

# typescript
*.tsbuildinfo
.tsbuildinfo

# next
next-env.d.ts*
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

#AI

WARP.md
CLAUDE.md
