# dependencies
node_modules/

# we are using pnpm here
package-lock.json
yarn.lock

# misc
.DS_Store
.env
/.vscode
.idea/
.eslintcache
dist/
coverage
storybook-static
.reports


# VSCode extension "Local History"
.history

# Npm/Yarn debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yalc
yalc.lock
.yalc/

out
.next
