# Allow running `prepare` script
# https://pnpm.io/npmrc#unsafe-perm
unsafe-perm=true
# rollup-plugin-dts needs packages to be hoisted
# https://pnpm.io/npmrc#public-hoist-pattern
public-hoist-pattern[]='*types*'
public-hoist-pattern[]='*emotion*'
public-hoist-pattern[]='*nivo*'
public-hoist-pattern[]='*xstyled*'
public-hoist-pattern[]='*reakit*'
