# Create a flat `node_modules` to make jest working
# https://pnpm.io/npmrc#node-linker
node-linker=hoisted
# Allow running `prepare` script from shire
# https://pnpm.io/npmrc#unsafe-perm
unsafe-perm=true
