{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          { "type": "chore", "scope": "deps", "release": "patch" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": ":gear: Features",
              "hidden": false
            },
            {
              "type": "fix",
              "section": ":bug: Bug Fixes",
              "hidden": false
            },
            {
              "type": "docs",
              "section": ":memo: Documentation",
              "hidden": false
            },
            {
              "type": "style",
              "section": ":lipstick: Style",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": ":zap: Refactor",
              "hidden": false
            },
            {
              "type": "perf",
              "section": ":rocket: Performance",
              "hidden": false
            },
            {
              "type": "test",
              "section": ":white_check_mark: Test",
              "hidden": false
            },
            {
              "type": "ci",
              "section": ":repeat: CI",
              "hidden": false
            },
            {
              "type": "chore",
              "section": ":package: Chore",
              "hidden": false
            }
          ]
        }
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
