h3.title {
  align-self: center;
  font-size: var(--typography-heading-font-size);
}

g.group {
  fill: var(--color-danger-backgroundStrong);

  svg {
    width: 100%;
  }
}

div.communityContainer {
  padding: var(--space-3);
  background-color: var(--color-primary-background);
  border-radius: var(--radii-default);
}

div.homeContainer {
  max-width: 1440px;

  @media (max-width: 1280px) {
    padding: 0 var(--space-2);
    width: 100%;
  }
}

div.headingContainer {
  @media (max-width: 1280px) {
    flex-direction: column;
  }
}

div.openSourceDescription {
  margin-bottom: 12px;
}

h3.openSourceTitle {
  align-self: center;
}

div.openSourceCard {
  flex: 1;
}

div.openSourceStack {
  @media (max-width: 1280px) {
    flex-direction: column;
  }
}
