.footer {
  box-shadow: 0 0 8px 2px rgba(178, 182, 195, 0.37);
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
}

.footerRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-4);
  padding: var(--space-4);
  flex: 1;
}

.borderedBox {
  display: flex;
  grid-template-columns: fit-content(20%) 3fr;
  gap: var(--space-2);
  height: auto;
  min-width: 350;
}

.disclaimerContainer {
  min-height: 60px;
  background-color: var(--color-neutral-background-weak);
  box-shadow: 0 0 8px 2px rgba(178, 182, 195, 0.37);
  display: flex;
  min-width: 10px;
  padding: var(--space-2);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.copyBox {
  background: var(--color-neutral-background-strong);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radii-default);

  span {
    background: var(--color-neutral-background-strong);
  }

  .react-syntax-highlighter-line-number {
    font-style: normal !important;
  }
}

.header {
  min-height: 60px;
  height: 60px;
  top: 0;
  background-color: var(--color-neutral-background-weak);
  box-shadow: 0 0 8px 2px rgba(178, 182, 195, 0.37);
  display: flex;
  align-items: center;
  min-width: 10px;
  padding: 8px 10px;
  width: 100%;
  justify-content: center;
  position: sticky;
  z-index: 1;
}

.horizontalStack {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.headerRow {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
}

.logo {
  fill: var(--color-primary-text);
}
