footer.footer {
    box-shadow: 0 0 8px 2px rgba(178, 182, 195, 0.37);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--space-4);
}

div.footerRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-4);
    flex:1;
    max-width: 1140px;
}

div.borderedBox {
    display: grid;
    grid-template-columns: fit-content(20%) 3fr;
    gap: var(--space-2);
    height: auto;
    min-width: 350,
}

div.disclaimerContainer {
    min-height: 60px;
    height: 60;
    top: 0;
    background-color: var(--color-neutral-background-weak);
    box-shadow: 0 0 8px 2px rgba(178, 182, 195, 0.37);
    display: flex;
    align-items: center;
    min-width: 10px;
    padding: 8px 10px;
    width: 100%;
    justify-content: center;
    position: sticky;
    z-index: 1;
}

div.copyBox {
    background: var(--color-neutral-background-strong);
    padding: var(--space-2) var(--space-3);
    border-radius: var(--radii-default);

    span {
        background: var(--color-neutral-background-strong);
    }

    .react-syntax-highlighter-line-number {
        font-style: normal !important;
    }
}

header.header {
    min-height: 60px;
    height: 60px;
    top: 0;
    background-color: var(--color-neutral-background-weak);
    box-shadow: 0 0 8px 2px rgba(178, 182, 195, 0.37);
    display: flex;
    align-items: center;
    min-width: 10px;
    padding: 8px 10px;
    width: 100%;
    justify-content: center;
    position: sticky;
    z-index: 1;
}

div.horizontalStack {
    display: flex;
    align-items: center;
    gap: var(--space-1);
}

div.headerRow {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
}

g.logo {
    fill: var(--color-primary-text)
}