html {
  height: 100%;
}

body {
  font-family: var(--typography-body-font-family);
  background: var(
    --color-neutral-background
  ); /* it should override ThemeProvider's background-color, since a @layer is used */
}

a {
  color: var(--color-info-text);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--color-info-text-hover);
  text-decoration: underline;
}

* {
  transition: all 250ms ease;
}
