html {
  height: 100%;
}

body {
  font-family: var(--typography-body-font-family);
}

a {
  color: var(--color-info-text);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--color-info-text-hover);
  text-decoration: underline;
}

* {
  transition: all 500ms ease;
}
