div.switchButton {
  margin: auto;
}

div.page {
  height: 100%;
  width: 100%;
}

div.loginContainer {
  margin: 5vh 30vw;
  background: var(--color-primary-background);
  padding: var(--space-4);
}

div.loginInput {
  padding: var(--space-1-5) var(--space-5);
  width: 100%;
}

div.signupContainer {
  margin: 5vh 30vw;
  background: var(--color-secondary-background);
  padding: var(--space-4);
}

div.signupInput {
  padding: var(--space-1-5) var(--space-0);
  width: 100%;
}
