/*
* When adding a new font you need to add it in fonts/assets/x.
* Here you need to add the font-face declaration for the font.
*
* Note: the S3 url will only be available once your PR is merged to main.
*/

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url("https://assets.scaleway.com/fonts/inter/Inter-Variable.woff2")
    format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains";
  font-style: normal;
  src: url("https://assets.scaleway.com/fonts/jetbrains/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  src: url("https://assets.scaleway.com/fonts/space-grotesk/SpaceGrotesk-Variable.woff2")
    format("woff2");
  font-weight: 300 700;
  font-display: swap;
}
