span, div, h1, h2, h3, h4, table, button, input {
  border: 1px dashed #b3144d !important;
}

[role="tablsit"][data-ultraviolet="true"] > div {
  border: 1px dashed #22674e !important;
}

[data-ultraviolet="true"] {
  border: 1px dashed #22674e !important;
}
