.footer {
  box-shadow: 0 0 8px 2px rgba(178, 182, 195, 0.37);
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
}

.footerRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-4);
  padding: var(--space-4);
  flex: 1;
}

.disclaimerContainer {
  min-height: 60px;
  background-color: var(--color-neutral-background-weak);
  box-shadow: 0 0 8px 2px rgba(178, 182, 195, 0.37);
  display: flex;
  min-width: 10px;
  padding: var(--space-2);
  width: 100%;
  justify-content: center;
  align-items: center;
}
