{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      { "shippedProposals": true, "targets": { "node": "current" } }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ]
}
