import { ArgsTable, Canvas, Description, Meta, Story } from '@storybook/addon-docs'

<Meta title="Example" />

# Component Name

<Description of={MyComponent} >
  Description of your component
</Description>

## Basic

<Description>
  Another description
</Description>

<Canvas>
  <Story name="basic">
    <Button>Button</Button>
  </Story>
</Canvas>

## Option 1

<Description>
  Description of your component option
</Description>

<Canvas>
  <Story name="option">
    {/* Write your code here */}
  </Story>
</Canvas>

## API

<ArgsTable of={MyComponent} />
