{
  "extends": ["@scaleway/react/typescript", "plugin:react/jsx-runtime"],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["@emotion"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["next.config.js"]
      }
    ],
    "react/require-default-props": "off"
  },
  "root": true
}
