name: Generate changeset for Renovate

on:
  pull_request_target:
    paths:
      - ".github/workflows/changesets-renovate.yml"
      - "**/pnpm-lock.yaml"
      - "**/package.json"

jobs:
  generate-changeset:
    runs-on: ubuntu-24.04
    if: github.actor == 'renovate[bot]' && github.repository == 'scaleway/ultraviolet'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 10
          ref: ${{ github.head_ref }}
      - name: Git Identity
        run: |
          git config --global user.name 'Scaleway Bot'
          git config --global user.email 'github@scaleway.com'
      - uses: pnpm/action-setup@v4.2.0
      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.12.0
          cache: "pnpm"
      - name: Run changesets-renovate
        run: pnpm dlx @scaleway/changesets-renovate
