name: CI

on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']
  push:
    branches:
      - main

jobs:
  typecheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: pnpm/action-setup@v2.2.2
      - name: Use Node.js
        uses: actions/setup-node@v3.5.0
        with:
          node-version: 18
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm tsc --noEmit
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: pnpm/action-setup@v2.2.2
      - name: Use Node.js
        uses: actions/setup-node@v3.5.0
        with:
          node-version: 18
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run lint
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node: ['18']
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: '0'
      - uses: pnpm/action-setup@v2.2.2
      - name: Use Node.js
        uses: actions/setup-node@v3.5.0
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run test:unit:coverage
      - uses: codecov/codecov-action@v3.1.1
  accessibility:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: '0'
      - uses: pnpm/action-setup@v2.2.2
      - name: Use Node.js
        uses: actions/setup-node@v3.5.0
        with:
          node-version: 18
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run test:a11y
  build:
    strategy:
      matrix:
        node: ['18']
    runs-on: ubuntu-20.04
    needs: [lint, test]
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: pnpm/action-setup@v2.2.2
      - name: Use Node.js
        uses: actions/setup-node@v3.5.0
        with:
          node-version: ${{ matrix.node }}
      - run: pnpm install
      - run: pnpm run build
      - run: cd website && pnpm install
      - run: cd website && pnpm build
  deploy:
    runs-on: ubuntu-20.04
    needs: [build]
    if: github.ref == 'refs/heads/main'
    env:
      GIT_COMMITTER_NAME: Scaleway Bot
      GIT_COMMITTER_EMAIL: github@scaleway.com
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: '0'
          persist-credentials: false
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      - uses: pnpm/action-setup@v2.2.2
      - name: Use Node.js
        uses: actions/setup-node@v3.5.0
        with:
          node-version: 18
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm semantic-release
        env:
          HUSKY: 0
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
