name: Update Illustrations

on:
  merge_group:
  pull_request:
    types: ["opened", "edited", "reopened", "synchronize"]
    paths:
      - packages/illustrations/**

  push:
    branches:
      - main
    paths:
      - packages/illustrations/**
env:
  BUCKET_NAME: scaleway-assets
  BUCKET_REGION: fr-par

jobs:
  ## Export indexes to export new assets
  update-illustrations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}

      - uses: pnpm/action-setup@v4.0.0
      - uses: actions/setup-node@v4.1.0
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install

      - name: Update illustrations exports
        run: pnpm run illustrations:update

      - name: Git Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v5.1.0
        with:
          commit_message: "chore(illustrations): automatic export update"
          commit_user_name: Scaleway Bot
          commit_user_email: github@scaleway.com
