name: Upload Illustrations

on:
  push:
    branches:
      - main
      - beta
    paths:
      - packages/illustrations/**
env:
  BUCKET_NAME: scaleway-assets
  BUCKET_REGION: fr-par

jobs:
  ## Synchronize assets on bucket
  upload-illustrations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: "3.14.0"
      - uses: pnpm/action-setup@v4.2.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.11.1
          cache: "pnpm"
      - run: pnpm install

      - name: Install aws CLI
        run: |
          pip3 install awscli_plugin_endpoint && pip3 show awscli_plugin_endpoint

      - name: AWS CLI configuration
        run: |
          mkdir ~/.aws
          cp ./.aws/* ~/.aws/
          sed -i -e 's/${BUCKET_REGION}/${{env.BUCKET_REGION}}/g' ~/.aws/config

      - name: Upload illustrations on bucket
        run: |
          aws s3 sync packages/illustrations/src/assets s3://${{ env.BUCKET_NAME }}/illustrations/ --exclude "*" --include "*.webp" --include "*.svg" --acl public-read --cache-control max-age=2592000,public
          aws s3api put-bucket-cors --bucket ${{ env.BUCKET_NAME }} --cors-configuration file://.aws/cors.json
        env:
          AWS_ACCESS_KEY_ID: ${{ vars.SCW_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SCW_SECRET_KEY }}
