
name: Pull Request
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  check-title:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3.0.2
    - uses: pnpm/action-setup@v2.2.2
    - name: Use Node.js
      uses: actions/setup-node@v3.4.1
      with:
        node-version: 18
        cache: 'pnpm'
    - run: pnpm install
    - run: echo '${{ github.event.pull_request.title }}' | pnpm commitlint
