name: Pull Request
on:
  pull_request:
    types: ["opened", "edited", "reopened", "synchronize"]

jobs:
  check-title:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.2.0
      - name: Use Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.12.0
          cache: "pnpm"
      - run: pnpm install
      - name: Check PR title
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: echo "$TITLE" | pnpm commitlint
