
name: Pull Request
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  check-title:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.4.0
    - name: Use Node.js
      uses: actions/setup-node@v3.0.0
      with:
        node-version: 17
        cache: 'yarn'
    - run: yarn
    - run: echo '${{ github.event.pull_request.title }}' | yarn run commitlint
