
name: Pull Request
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  check-title:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3.0.0
    - uses: pnpm/action-setup@646cdf48217256a3d0b80361c5a50727664284f2
    - name: Use Node.js
      uses: actions/setup-node@v3.0.0
      with:
        node-version: 17
        cache: 'pnpm'
    - run: pnpm install
    - run: echo '${{ github.event.pull_request.title }}' | pnpm commitlint
