name: Release

on:
  push:
    branches:
      - main
      - beta

concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Pull Secrets
        uses: scaleway/action-scw-secret@v0
        with:
          secret-names: |
            NPM_TOKEN, /npm/token_ultraviolet
          access-key: ${{ vars.SCW_ACCESS_KEY }}
          secret-key: ${{ secrets.SCW_SECRET_KEY }}
          default-project-id: ${{ vars.SCW_DEFAULT_PROJECT_ID }}
          default-organization-id: ${{ vars.SCW_DEFAULT_ORGANIZATION_ID }}

      - uses: actions/checkout@v6
      - name: Git Identity
        run: |
          git config --global user.name 'Scaleway Bot'
          git config --global user.email 'github@scaleway.com'
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/$GITHUB_REPOSITORY
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}

      - uses: pnpm/action-setup@v4.2.0
      - name: Use Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.13.1
          cache: "pnpm"

      - run: pnpm install
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: "chore: release"
          title: "chore: release"
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
          NPM_TOKEN: ${{ env.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
