name: 'size'
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']
jobs:
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v3.0.1
      - uses: pnpm/action-setup@v2.2.1
      - uses: andresz1/size-limit-action@v1.6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
