name: "size"
on:
  pull_request:
    types: ["opened", "edited", "reopened", "synchronize"]
jobs:
  size:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.2.0
      - name: Use Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.13.0
      - run: |
          pnpm install
          pnpm run size
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
